h1{
	color: ghostwhite;
	font-size: 160px;
	text-align: center;
	font-family: 'Shalimar',cursive;
	font-weight: 200;
	
}
h2{
	color: ghostwhite;
	font-size:60px;
	text-align: center;
	font-family: 'Petemoss', cursive;			
	font-weight: 70;
}

hr{
	border: 1px solid white;
	width: 100%
}
h3{
	text-align: center;
	color: ghostwhite;
	font-family: 'Shalimar',cursive;
	font-size: 40px;
}